extends layout

block content
  h1 #{title}: #{country.name}

  if country_sandwiches.length

    p #[strong Delete the following sandwiches before attempting to delete this country.]

    div(style='margin-left:20px;margin-top:20px')

      h4 Sandwiches

      dl
      each sandwich in country_sandwiches
        dt
          a(href=sandwich.url) #{sandwich.name}
        dd #{sandwich.description}

  else
    p Do you really want to delete this country?

    form(method='POST' action='')
      div.form-group
        input#countryid.form-control(type='hidden',name='countryid', required='true', value=country._id )

      button.btn.btn-primary(type='submit') Delete