extends layout

block content

  h1.text-center.mt-3.text-white #{title}: #{country.name}

  if country_sandwiches.length
    div.d-flex.justify-content-center
      div.card.mt-3.p-4(style="width: 50rem;")
        p #[strong Delete the following sandwiches before attempting to delete this country.]

        h4 Sandwiches

        dl
        each sandwich in country_sandwiches
          dt
            a(href='/sandwiches/' + sandwich.url) #{sandwich.name}
          dd #{sandwich.description}

  else
    div.d-flex.justify-content-center
      div.card.mt-3.p-4(style="width: 50rem;")
        p Do you really want to delete this country?

        form(method='POST' action='')
          div.form-group
            input#countryid.form-control(type='hidden',name='countryid', required='true', value=country._id )

          button.btn.btn-danger(type='submit') Delete