extends layout

block content
  h1= title
  
  ul
  each sandwich in sandwich_list
    li 
      div
        a(href=sandwich.url) #{sandwich.name} 
        | ($#{sandwich.price})
      div
        img(src=`${sandwich.image}`, alt=`${sandwich.name}`)

  else
    li There are no sandwiches.
