extends layout

block content
  div
    h1.text-center.mt-3.text-white= title
    each sandwich in sandwich_list
      div.d-flex.justify-content-center
          div.card.mt-3(style="width: 50rem;")
            img(src=`${sandwich.image}`, alt="A lot of flags.")
            div.card-body
              h5.card-title #{sandwich.name}
              p.card-text #{sandwich.country.name}
              p.card-text #{sandwich.price}
              a.btn.btn-primary(href=sandwich.url) More Info
    else
      li There are no sandwiches.
